
<h1>My Drone collections</h1>
<br>
{{#each drones }}
<div>
    <h2>Drone Name: {{this.name}}</h2>
    <h4>Number of Propellers: {{this.propellers}}</h4>
    <h4>Maximum speed: {{this.maxSpeed}} </h4>
    <a href="/drones/{{ this._id }}/edit">
        <button>Edit</button>
    </a>

      <form action="/drones/{{ this._id }}/delete" method="POST">
            <button>Delete</button>
        </form>
</div>
<br>
{{/each}}

